{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% block title %}
    <title>BASE</title>
    {% endblock title %}
    <link rel="stylesheet" href="{% static 'base.css' %}">
</head>
<body>
    <nav>
        <a href="Base">Base</a>
        <a href="home">Home</a>
        <a href="contact">Contact</a>
    </nav>
{% block name %}
<h1>THis is base page</h1>
{% endblock name %}
</body>
</html>